.category__title{
    text-align: center;
    height: 40px;
}

.category a{
  display: block;
  text-align: center;
}

 .items {
  margin: 0 -10px;
} 

.items__row {
  width: 25%;
  display: inline-block;
}



