.category {
  a {
    display: block;
    text-align: center;
  }

  .category__title {
    font-weight: bold;
  }

  .category__data {
    height: 67px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  .category__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87px;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5.5px 3.5px 4.5px 17px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
  }
}

 .items {
  margin: -10px;
} 

.items__row {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  
}

@media (max-width: 1024px) {
  .items__row {
    width: 33.33%;
  }
  .items {
    margin: -10px 0;
    padding: 0 22px;
  } 
}

@media (max-width: 375px) {
  .items {
    padding: 0 7px 0 2px;
    margin: 0;
  }

  .items__row {
    width: 50%;
  }
  
  .category__data {
    height: 64px;
  }
}



