.category__greet{
  margin-top: 60px;
  text-align: center;
  height: 40px;
}

.category a{
  display: block;
  text-align: center;
}

.category__data {
  height: 67px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.category__title {
  font-weight: bold;
}

.category__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87px;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5.5px 3.5px 4.5px 17px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

 .items {
  margin: -10px;
} 

.items__row {
  width: 25%;
  display: inline-block;
}

@media (max-width: 767px) {
  .items__row {
    width: 50%;
  }
}



