.item {
  margin: 10px;
  padding: 13px 18px; 
  min-height: 372px;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
}

.item__image {
  /*setted inline: "backgroundImage: `url(${mediaCollection[0].thumbUrl})`" */
  height: 255px;
  background-position: 50% 0; 
  background-size: auto 228px;
  background-repeat: no-repeat;
}

.item__name {
  font-family: GraphikSemibold, sans-serif;
  word-wrap: break-word;
  font-weight: bold;
}

.item__prices {
  font-family: GraphikMedium, sans-serif;
  margin: 35px 0 0;
}

.item__old-price {
  margin-right: 27px;
  text-decoration: line-through;
  color: grey;
}

@media (max-width: 1024px) {
  .item {
    margin: 10px;
    padding: 13px 10px; 
    min-height: 0;
    height: 321px;
  }
  .item__image {
    /*setted inline: "backgroundImage: `url(${mediaCollection[0].thumbUrl})`" */
    height: 245px;
  } 
  .item__prices {
    margin: 5px 0 0;
    font-family: GraphikRegular, sans-serif;
    font-size: 14px;
  }
  .item__old-price {
    margin-right: 12px;
  }
}

@media (max-width: 375px) {
  .item {
    height: 264px;
    margin: 5px;
  }
  .item__image {
    /*setted inline: "backgroundImage: `url(${mediaCollection[0].thumbUrl})`" */
    height: 145px;
    background-size: auto 130px;
  }
  .item__name {
    height: 60px;
  }
  .item__old-price {
    margin-right: 17px;
  }
  .item__price {
    font-weight: 600;
  }
}

.item_popular {
  min-height: 0;
  height: 304px;
  padding: 13px 10px; 

  .item__image {
    height: 175px;
    background-size: 100px 150px;
  } 
  .item__name {
    height: 35px;
  }
  .item__prices {
    height: 27px;
  }
  .item__old-price {
    margin-right: 5px;
  }
}

.item_new {
  min-height: 541px;
  padding: 0;
  .item__image {
    height: 338px;
    background-size:  cover;
  }
  .item__name {
    margin: 25px 0 0 25px;
  }
  .item__prices {
    margin: 17px 0 0 27px;
  }
}

@media (max-width: 1100px) {
  .item_popular {
    min-height: 332px;
    .item__image {
      height: 200px;
      background-size: auto 180px
    }
    .item__prices {
      font-family: GraphikRegular;
      font-size: 14px;
    }
  }
  .item_new {
    min-height: 447px;
    .item__image {
      height: 251px
    }
    .item__name {
      margin: 20px 0 0 21px;
    }
    .item__prices {
      margin: 35px 0 0 21px;
    }
  }
}

@media (max-width: 375px) {
  .item_popular {
    min-height: 200px;
    height: 223px;
    .item__image {
      height: 145px;
      background-size: auto 130px
    }
    .item__name {
    height: 20px;
      font-family: GraphikMedium, sans-serif;
    }
  }

  .item_new {
    height: 250px;
    min-height: 250px;
    .item__image {
      height: 150px; 
    }
    .item__name {
      margin: 8px 0  0 9px;
      height: 25px;
    }
    .item__prices {
      margin-left: 10px;
    }
  }
}