.item {
  margin:  8px;
  padding: 12px 18px; 
  min-height: 350px;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
}

.item__image {
  /*sets inline: "backgroundImage: `url(${mediaCollection[0].thumbUrl})`" */
  height: 240px;
  background-position: 50% 0; 
  background-size: auto 215px;
  background-repeat: no-repeat;
}

.item__name {
  text-align: left;
  word-wrap: break-word;
  font-weight: bold;
}

.item__prices {
  margin: 30px 0 0;
  text-align: left;
}

.item__old-price {
  margin-right: 1em;
  text-decoration: line-through;
  color: grey;
}

.item__buttons {
  margin: 13px 0 0;
  text-align: left;
}

.item__buttons button {
    border-radius: 50%;
    background-color: #4CAF50; 
    border: 1px solid red;
    padding: 10px;
    margin: 4px 2px;
    cursor: pointer;
  
}