.home-page .title {
  font-size: 45px;
  font-weight: bold;
  float: left;
} 

.popular {
  height: 500px;
}

.new {
  height: 620px;
}

@media (max-width: 1100px) {
  .home-page {
    margin: 0 72px 0 68px;
  }
} 
@media (max-width: 375px) {
  .home-page {
    margin: 0;
  }
} 