.item__buttons {
  margin: 14px 0 0 1px;
}

.item__buttons div {
  display: inline-block;
}

.item__buttons button {
  display: flex;
  border-radius: 50%;
  margin-right: 10px; 
  width:22px;
  height:22px;
  border: 1px solid #F0F0F0; 
  position: relative;
  top: 3px; left:2px;    
  cursor: pointer;
}

.item__outer-circle {
  border-radius: 50%;
  border:2px solid black;
  width:27px;
  height:27px;
}

@media (max-width: 1024px) {
  .item__buttons {
    margin-top: 25px;
  }

  .item__buttons button {
    margin-right: 5px; 
    width: 10px;
    height:12px;
    top: 2px; left:0.4px;    
  }

  .item__outer-circle {
    border-radius: 50%;
    border:2px solid black;
    width:15px;
    height:15px;
  }
}

