.item__buttons {
  margin-top: 13px;
  display: flex;
  justify-content: flex-start;
}

.item__buttons > div {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width:26px;
  height:26px;
  border-radius: 50%;
  border:2px solid black;
}

.item__buttons > div button, .item__buttons .item__outer-circle {
  visibility: visible;
}

.item__buttons button {
  width:21px;
  height:21px;
  border-radius: 50%;
  border: 1px solid #F0F0F0; 
  cursor: pointer;
}

@media (max-width: 1024px) {
  .item__buttons {
    margin-top: 13px;
  }  
}

@media (max-width: 375px) {
  .item__buttons {
    margin: 32px 0 0 -3px;
  }  

  .item__buttons > div {
    width:14px;
    height:14px;
    border:1px solid black;
  }

  .item__buttons button {
    width:10px;
    height:12px;
    border: 1px solid #F0F0F0; 
  }
}

.item_popular {
  .item__outer-circle {
    border:1px solid black;
    width:15px;
    height:12px;
  }

  .item__buttons button {
    margin-right: 5px; 
    width: 8px;
    height:10px;
    top: 2px; left:0.4px;    
  }
}

