.item__buttons {
  margin: 14px 0 0 1px;
}

.item__buttons div {
  display: inline-block;
}

.item__buttons button {
  border-radius: 50%;
  margin-right: 10px; 
  width:22px;
  height:22px;
  border: 1px solid #F0F0F0; 
  position: relative;
  top: 3px; left:2px; 
  cursor: pointer;
}

.outer-circle {
  border-radius: 50%;
  border:2px solid black;
  width:27px;
  height:27px;
  display: inline-block;
}

.item__buttons #button1 {
  background-color: black; 
  }

.item__buttons #button2 {
  background-color: #6C5251; 
}

.item__buttons #button3 {
  background-color: #B2B2B2; 
}

.item__buttons #button4 {
  background-color: #00669F; 
}

.item__buttons #button5 {
  background-color: #2A9C3C; 
}

.item__buttons #button6 {
  background-color: white; 
}
