.header {
  max-width: 1440px;
  margin: 0 auto;
}

.header__messaging-line {
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F15F2E;
  color: white;
  font-size: 12px;
}

.nav {
  height:65px;
  display: flex;
  justify-content: space-between;
  background-color: blue;
}

.nav__logo {
  background-color: pink;
}

.nav__search {
  background-color: black;
}

.nav__menu {
  background-color: yellow;
}