.header {
  max-width: 1440px;
  margin: 0 auto;
}

.header__messaging-line {
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F15F2E;
  color: white;
  font-size: 12px;
}

.nav {
  height:65px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.25%;
}

.nav__search {
  width: 42.9%;
  display: flex;
  align-items: center;
  
  border-right: 1px solid #EDEDED; 
  border-left: 1px solid #EDEDED;   
}

.nav__input {
  margin-left: 20px;
  border: none;
}

::placeholder{
  font-size: 16px;
    color: #BDBDBD;
}

.nav__menu {
  width: 36.91%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid #EDEDED; 
}

.nav__menu div:hover{
  background-color: orangered;
  cursor: pointer;
} 

.nav__icons {
  width: 8.94%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__photo {
  height: 320px;
  background-image: url('background-header.jpg');
  background-repeat: no-repeat;
}

