.header {
  max-width: 1440px;
  margin: 0 auto;
}

.header__line {
  height: 29px;
  background-color: #F15F2E;
}

.nav {
  height:65px;
  display: flex;
 
  justify-content: space-between;
  background-color: blue;
}

.nav__logo {
  background-color: pink;
 
  /* width: 200px;
  height: 50px; */
  
}

.nav__search {
  background-color: black;
 
}

.nav__menu {
  background-color: yellow;

  /* width: 200px;
  height: 200px; */
}