main {
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: 'GraphikRegular';
  src:  url(./fonts/Graphik-Regular-Web.woff);
}

@font-face {
  font-family: 'GraphikMedium ';
  src:  url(./fonts/Graphik-Medium-Web.woff);
}

@font-face {
  font-family: 'GraphikSemibold';
  src: url(./fonts/Graphik-Semibold-Web.woff);
}
