.slider__move-buttons {
  text-align: right;
  height: 45px;
}

/* got a classname from a custom slick-slider classes */
.slick-list {
  margin: 6px -10px 0 -8px;
}

@media (max-width: 375px) {
  .slick-list {
    margin: 0 6px;
  }
}